@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #280000;
}

.centraliza {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 18px;  
}

.box {
    display: flex;
    color: #ffff;
}

.titulo-box {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.box > h2 {
    font-size: 18px;
}

.logo-img {
    width: 32px;
    padding-left: 18px;
    padding-right: 10px;
}

.texto-nav {
    color: #DCF763;
    padding-left: 8px;
}

a {
    text-decoration: none;
}

.box1 {
    padding-right: 35px;
    display: flex;
    align-items: flex-end;
}

.icon-face {
    width: 16px;
    height: auto;
    padding-right: 32px;
}

.icon-twitter {
    width: 16px;
    height: auto;
    padding-right: 25px;

}

.icon-google {
    width: 16px;
    height: auto;
    padding-left: 10px;
    
}

.principal {
    display: flex;
<<<<<<< HEAD

=======
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
}

.container {
    background-color: rgb(237, 238, 240);
    height: 100vh;
<<<<<<< HEAD
    width: 180px;
=======
    width: 240px;
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
}

.titulo {
    font-weight: 400;
    color: rgb(51, 49, 49);
<<<<<<< HEAD
    margin-bottom: 50px;
}

.subtitulo {
    font-weight: 400;
    color: rgb(65, 213, 233);
    font-size: 16px;
=======
    margin-left: 70px;
    margin-top: 50px;
}

.subtitulo {
    margin-left: 60px;
    font-weight: 400;
    color: rgb(65, 213, 233);
    margin-top: 30px;
    font-size: 16px;
    display: inline;
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
}

.mensagem {
    font-weight: 200;
<<<<<<< HEAD
    font-size: 16px;
    margin-top: 50px;
=======
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    display: inline;
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
}

.conteudo {
    display: flex;
    width: 50%;
}

<<<<<<< HEAD
.info {
    margin-left: 70px;
    margin-top: 50px;
}

=======
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
.watch {

}

.botao {
    background-color: rgb(243, 74, 7);
    color: #fff;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 150px;
<<<<<<< HEAD
    margin-top: 50px;
    margin-left: 70px;
    margin-top: 50px;
=======
>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
}

.botao > a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}
<<<<<<< HEAD
=======




>>>>>>> 68f85e72b99db378828bf7d29b3c77dea7d8be70
