@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


header {
    position: fixed;    
    width: 100%;
    z-index: 1000;  
    
}

.centraliza {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px; 
    position: absolute; 
    z-index: 2;
    background-color: #161515;
    width: 100%;
}

.box {
    display: flex;
    color: #ffff;
}

.titulo-box {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.box > h2 {
    font-size: 18px;
}

.logo-img {
    width: 32px;
    padding-left: 18px;
    padding-right: 10px;
}

.texto-nav {
    color: #3bbdf0;
    padding-left: 8px;
}

a {
    text-decoration: none;
}

.box1 {
    display: flex;
    align-items: flex-end;
    margin-right: 32px;
}

.icon-face {
    width: 16px;
    height: auto;
    padding-right: 32px;
}

.icon-twitter {
    width: 16px;
    height: auto;
    padding-right: 20px;
}

.icon-google {
    width: 23px;
    height: auto;
    padding-left: 10px;
}

.principal {
    display: flex;
}

.container {
    background-color: rgb(237, 238, 240);
    height: 100%;
    width: 45px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    
}

.tela1 {
    background-color: #3bbdf0;
    width: 14px;
    height: 14px;
    margin-left: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.tela2 {
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    margin-top: 16px;
    margin-left: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.titulo {
    font-weight: 400;
    color: rgb(51, 49, 49);
    margin-top: 50px;
    margin-right: 30px;
    font-size: 26px;
    line-height: 1.5;
    text-align: justify;
}

.subtitulo {
    font-weight: 400;
    color: #3bbdf0;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.mensagem {
    font-weight: 200;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 30px;
    text-align: start;
}

.background {
    width: 100%;
    height: 105vh;
    background: url(./image/watch.jpg);
    background-size: cover;
}

.conteudo {
    display: flex;
    width: 40%;
    margin-left: 45px;
    flex-direction: column;
}

.info {
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110vh;
}

.botao {
    background-color: rgba(241, 85, 23, 0.952);
    color: #fff;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    padding-right: 8px;
    margin-top: 40px;
    font-size: 12px;
    width: 150px;
    display: flex;
    align-items: center;
    height: 35px;
}

.botao > img {
    padding-left: 10px;
    width: 20px;
}

.botao > a {
    text-decoration: none;
    color: #fff;
    padding-left: 4px;
}

.foto-chat {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
}

.foto-chat > img {
    height: 60px;
    width: 60px;
}


@media (min-width: 1500px) {
    .titulo {
        font-size: 40px;
        text-align: left;
    }
    
}
