* {
    margin: 5px;

}.box1 {
    background-color: #998888;
    width: 250px;
    height: 250px;
}

.box2 {
    background-color: #BFB8AD;
    width: 250px;
    height: 250px;
}

.box3 {
    background-image: url(dorama.jpg);
    width: 50vmin;
    height: 50vmax;
}

/* html {
    font-size: 62, 5%;
    tamanho do elemento raiz agora e 0,625*16px
} 

h1 { 
    font-size: 1.2rem; 
    equivalente a 12px
 
p { 
    font-size: 2.4rem; 
    equivalente a 24px;
} */